alias b balance
alias clp collapse
alias esd ext_seq_dcs
alias f fraig
alias fs fraig_sweep
alias ft fraig_trust
alias mu renode -m
alias pf print_factor
alias pfan print_fanio
alias pl print_level
alias pio print_io
alias ps print_stats 
alias psu print_supp
alias psy print_symm
alias q quit
alias r read
alias rl read_blif
alias rb read_bench
alias rp read_pla
alias rv read_verilog
alias rsup read_super mcnc5_old.super
alias rlib read_library
alias rw rewrite
alias rwz rewrite -z
alias rf refactor
alias rfz refactor -z
alias sa set autoexec ps
alias so source -x
alias st strash
alias u undo
alias wb write_blif
alias wl write_blif
alias wp write_pla
alias cnf   "st; renode -c; write_cnf"
alias prove "st; renode -c; sat"
alias opt     "b; renode; b"
alias share   "b; renode -m; fx; b"
alias resyn   "b; rw; rf; b; rw; rwz; b; rfz; rwz; b"

