name: 'Repo Lockdown'

on:
  pull_request_target:
    types: opened

jobs:
  lockdown:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/repo-lockdown@v2.0.0
        with:
          github-token: ${{ github.token }}
          pr-comment: >
            This repository does not accept pull requests now.
            Submission period will be open during 2020/10/15 1100-1300.
